# Dataset Description

In [ ]:
import pandas as pd
import numpy as np

# device_set = pd.read_csv("device.csv")
customer_set = pd.read_csv("customer.csv")
bus_parent_set = pd.read_csv("bus_parent.csv")

# monitor_count = device_set.groupby('RECON_ID').count()
device_count = customer_set.groupby('BUS_ID').count()

# device - monitor count
# monitor_count.sort_values(by='TARGET_ID', ascending=False)

# customer - device count
bus_device = device_count.sort_values(by='RECONCILIATION_ID', ascending=False)

# get parent - device count
merge_result = pd.merge(bus_device, bus_parent_set, on='BUS_ID')
select_res = merge_result[['RECONCILIATION_ID', 'PARENT_ID']]
top_parent = select_res.groupby('PARENT_ID').sum().sort_values(by='RECONCILIATION_ID', ascending=False)

print(bus_device)
print(top_parent)

In [75]:
import pandas as pd

device_client = pd.read_csv("device_client.csv")

device_count = device_client[['RECONCILIATION_ID', 'NEW_BUS_ID']].groupby('NEW_BUS_ID').count()

# customer - device count
device_coun_rank = device_count.sort_values(by='RECONCILIATION_ID', ascending=False)

# device_coun_rank.to_csv('client_device.csv')

In [72]:
device_coun_rank.head()

            RECONCILIATION_ID
NEW_BUS_ID
0                           1
1000                        1
1002                        1
1003                        1
1004                        1
...                       ...
38740                       1
38741                       1
38753                       3
55556                       1
1006850                     1

[5204 rows x 1 columns]